[package]
name = "data2img"
version = "0.1.0"
edition = "2021"

[dependencies]
async-compression = { version = "0.4.22", features = ["brotli", "zstd", "deflate","gzip", "tokio"] }
tokio = { version = "1", features = ["macros"] }
url = "2.5.4"
vercel_runtime = "1.1.4"
base64 = "0.22.1"
reqwest = "0.12.9"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.6"

[[bin]]
name = "handler"
path = "api/handler.rs"

[lib]
path = "src/lib.rs"

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3
